
#laCalculadora{

    text-align: center;
    font-family: "Verdana";
    size: 200;
}
.boton{
    width: 90px;height: 40px;
    background-color: black;
    border-radius: .10 em;
    cursor: pointer;
    text-align: center;
    color: blanchedalmond;
}

.boton1{
    width: 90px;height: 40px;
    background-color: darkslategrey;
    border-radius: .10 em;
    cursor: pointer;
    text-align: center;
    color: blanchedalmond;
}

.numero{
    text-align: right;
}